<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{layout/user :: content('Supporters ' +'DashBoard', ~{this:: .container-fluid})}">



<head>
	<title>Supporter's DashBoard</title>
</head>

<body>

	<div class="container-fluid">
		<!--  Row 1 -->
		<div class="d-flex justify-content-center align-items-center">
			<p class="card-title fw-semibold mb-4">Danh sách các yêu cầu hỗ trợ</p>
		</div>

		<form th:action="@{'/support/searchbydate/'+${username}}" method="get">
			<div class="mb-3">
				From:<input type="date" class="form-control" name="from" >
				To:<input type="date" class="form-control" name="to" >
				<br>
				Độ ưu tiên: <select name="douutien">
					<option th:each="douutien:${douutiens}" th:value="${douutien.madouutien}"
						th:text="${douutien.tendouutien}"></option>
				</select>
			</div>
			<input type="hidden" name="username" th:value="${username}">
			<input type="submit" class="btn btn-primary" value="Search"></input>
		</form>
		<br>
		<div class="row">

			<!--main contents  -->


			<table class="table text-nowrap mb-0 align-center" border="3">
				<tr>
					<th>Mã Yêu cầu</th>
					<th>Tiêu đề</th>
					<th>Nội dung</th>
					<th>Ngày gửi</th>
					<th>Ưu tiên</th>
					<th>Người xử lý</th>
					<th>Người gửi</th>
				</tr>
				<tr th:each="yeucau : ${yeucaus}">
					<td th:text="${yeucau.mayeucau}"></td>
					<td th:text="${yeucau.tieude}">
					</td>
					<td th:text="${yeucau.noidung}"></td>
					<td>
						<span th:with="formattedDate=${#dates.format(yeucau.ngaygui, 'dd/MM/yyyy')}"
							th:text="${formattedDate}"></span>
					</td>
					<td th:text="${yeucau.douutien.tendouutien}"></td>
					<td th:utext="${yeucau.nhanvienByNvXuly?.username} ?: ''"></td>
					<td th:text="${yeucau.nhanvienByNvGui.username}"></td>


				</tr>
			</table>
			<!--main contents  -->
		</div>


	</div>


</body>

</html>