<html xmlns:th="http://www.thymeleaf.org"
th:replace="~{layout/user :: content('register', ~{this:: .container-fluid})}">



<head>
	<title>Register</title>


</head>

<body>
	<div class="container-fluid">
		<!--  Row 1 -->

		<div class="row">

			<!--main contents  -->
			<table class="table text-nowrap mb-0 align-center" border="3">
				<tr>
						<div class="alert alert-info">
							<span th:text="${msg}"></span>
						</div>
				</tr>
				<tr>
					<form method="post" th:action="@{/nhanvien/register}" enctype="multipart/form-data">
						<td>Username:</td>
						<td><input type="text" id="username" placeholder="Username" th:field="${nhanvien.username}" />
						</td>
				</tr>
				<tr>
					<td>Password:</td>
					<td><input type="password" id="password" placeholder="Password" th:field="${nhanvien.password}" />
					</td>
				</tr>
				<tr>
					<td>Full Name:</td>
					<td><input type="text" id="hoten" placeholder="Full Name" th:field="${nhanvien.hoten}" /></td>
				</tr>
				<tr>
					<td>Activate:</td>
					<td><input type="checkbox" id="kichhoat" th:field="${nhanvien.kichhoat}" /></td>
				</tr>
				<tr>
					<td>Role:</td>
					<td>
						<select th:field="${nhanvien.quyen}">
							<option value="2">SUPPORTER</option>
							<option value="3">EMPLOYEE</option>
						</select>
					</td>
				</tr>
				<tr>
					<td>Date of Birth:</td>
					<td><input type="date" th:field="${nhanvien.ngaysinh}" id="ngaysinh" /></td>
				</tr>
				<tr>
					<td>Upload File:</td>
					<td><input type="file" name="file" /></td>
				</tr>
				<tr>
					<td colspan="2">
						<input type="submit" value="Register" />
					</td>
				</tr>
				</form>
			</table>
			<!--main contents  -->
		</div>


	</div>


</body>

</html>