<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{layout/user :: content('Add request', ~{this:: .container-fluid})}"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">



<head>
	<title>Add Request</title>


</head>

<body>
	<div class="container-fluid">
		<!--  Row 1 -->

		<div class="row">
			<table class="table text-nowrap mb-0 align-center" border="3">
				<tr>
					<th:block th:if="${msg != null}">
						<!-- Display any messages here -->
					</th:block>
				</tr>
				<tr>
					<form method="post" th:action="@{/employee/add}">
						<td>Tiêu đề:</td>
						<td><input type="text" id="title" placeholder="title" th:field="${yeucau.tieude}" />
						</td>
				</tr>
				<tr>
					<td>Nội dung</td>
					<td><textarea th:field="${yeucau.noidung}"></textarea>
					</td>
				</tr>

				<tr>
					<td>Ngày gủi</td>
					<td><input type="date" th:field="${yeucau.ngaygui}" id="ngaygui" /></td>
				</tr>
				<tr>
					<td>Độ ưu tiên</td>
					<td><select th:field="${yeucau.douutien}">
						<option th:each="douutien:${douutiens}" th:value="${douutien.madouutien}" th:text="${douutien.tendouutien}"></option>
					</select></td>
				</tr>

				<tr>
					<td colspan="2">
						<input type="submit" value="Register" />
					</td>
				</tr>
				</form>
			</table>
			<!--main contents  -->

			<!--main contents  -->
		</div>


	</div>


</body>

</html>